<<<<<<< HEAD
﻿@page

@model WebApplication3.Pages.Shared.TestModel

@{
    <div>Test page!</div>
}
=======
﻿@page

@model WebApplication3.Pages.Shared.TestModel

@{
    <div>Test page!</div>
}
>>>>>>> d05455dd19aae7050710ca60caa526629780a968
