<<<<<<< HEAD
﻿@page

@model PrivacyModel

@{
    ViewData["Title"] = "Privacy Policy";

    var bc = new List<string>();
    bc.Add("Главная");
    bc.Add("Privacy");

    var model = new Tuple<List<string>, bool>(bc, false);
}
    
<partial name="_Breadcrumbs" model=model />

<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
=======
﻿@page

@model PrivacyModel

@{
    ViewData["Title"] = "Privacy Policy";

    var bc = new List<string>();
    bc.Add("Главная");
    bc.Add("Privacy");

    var model = new Tuple<List<string>, bool>(bc, false);
}
    
<partial name="_Breadcrumbs" model=model />

<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
>>>>>>> d05455dd19aae7050710ca60caa526629780a968
